
*.aux

*.backup

*.dvi

cmd_vi.pdf

*.log

*.~

*.bak

*.tex~

*.kilepr

linux_2pages.pdf

*.bbl

*.blg

*.idx

*.ind

*.lof

*.lot

*.ilg

linux.pdf

linux.ps

*.toc

memo_cmd.pdf

princ_rep.pdf

*.out

TD/td1.pdf

TD/td2.pdf

TD/td3.pdf

TD/td4.pdf

TD/td5.pdf

TD/td6.pdf

TD/td7.pdf

TD/td8.pdf

*.gz(busy)
